div.catalogue-item-container
  position: relative
  float: left
  padding: 15px
  border: 1px solid #ccc; 
  width: 250px; 
  & .btn
    width: 100%

p.catalogue-title
  height: 50px; 

p.catalogue-price
  text-align: right

div.catalogue-image
  background-size: cover
  background-position: center
  height: 300px;
  width: 100%;
