div.list-item
  div.list-item-content
    p {{product ? product.name : ""}}
    p.list-item-price ${{product ? product.price : 0}}    
  button.btn.btn-default("(click)"= "removeProductFromList(index)") Remove item
    i.fa.fa-trash-o
