div.list-item
  border: 1px solid #ccc
  max-width: 90%
  margin: 10px 0

div.list-item-content
  padding: 10px
  & p
    display: inline-block
button
  width: 100%
i, p.list-item-price 
  margin-left: 15px
