div.game-list
  h3 My games
  div.price-container
    p.price Total price: ${{totalPrice}}
  div.list-container
    div(*ngIf="products.length > 0")
      list-item(*ngFor="let product of products; index as i", 
                [product]="products[i]", [removeProductFromList]="removeProductFromList", 
                [index]="products[i]['key']")
    div(*ngIf="products.length === 0")
      h4 No games in the list
    button.btn.btn-default.clear-btn("(click)"="clearProductList()", *ngIf="products.length > 0") Clear my list
